# ignoring *.pyc, stat_sender/.idea, stat_file_source/.idea, stat_db_lib/.idea, stat_sender_db/functional_test_utils/.idea
*.pyc
stat_sender/.idea
stat_file_source/.idea
stat_db_lib/.idea
stat_sender_db/functional_test_utils/.idea
